body {
	background-color: lightblue;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	margin: 0;
}
#container {
	
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#header{
	padding: 10px 20px;
}
#menu a {
	margin:5px 5px;
	font-size:30px;
	color: white;
	text-decoration:none;
	text-shadow:rbga(0,0,0,0.8) 2px 2px 4px;
}
#menu a:hover{
	background-color: #99CC66;
}